.movie-card {
  max-width: 200px;
  max-height: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.1em solid black;
  border-radius: 0.3em;

  margin: 1em 2em;
}

.movie-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
}

.movie-heading p {
  margin-top: 0;
}

.movie-heading h2 {
  margin: 0.1em;
}

img {
  max-width: 80%;
}

.movie-card button {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.movie-card button:disabled {
  transform: none;
  color: red;
  background-color: white;
  cursor: auto;
  border: 0.1em solid red;
}